<div class="card" id="accordionResponse">
  <div class="card-header">
    <a class="card-link" data-toggle="collapse" href="#collapseServerResponse">Risposta HTTP dal server</a>
    <div id="collapseServerResponse" class="collapse show" data-parent="#accordion">
      <div class="card-body">
                      <textarea class="shadow" [readonly]="true" style="resize: none; width: 100%; height: 30vh; font-size: 14px;">
                      </textarea>
      </div>
    </div>
  </div>
</div>
