<nav class="col-md-2 d-none d-md-block bg-light sidebar">

  <div class="row">
    <div class="col">
      <nav class="navbar navbar-light bg-primary">
        <span class="navbar-brand mb-0 text-light">Test Processi</span>
      </nav>
    </div>
  </div>
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link {{menuItemList[0].isSelected}}" href={{menuItemList[0].navLink}} (click)="onSelect(0)">
          {{menuItemList[0].name}} <span class="sr-only"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{menuItemList[1].isSelected}}" href={{menuItemList[1].navLink}} (click)="onSelect(1)">
          {{menuItemList[1].name}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{menuItemList[2].isSelected}}" href={{menuItemList[2].navLink}} (click)="onSelect(2)">
          {{menuItemList[2].name}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{menuItemList[3].isSelected}}" href={{menuItemList[3].navLink}} (click)="onSelect(3)">
          {{menuItemList[3].name}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          Da aggiungere...
        </a>
      </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Test pre-compilati</span>
      <a class="d-flex align-items-center text-muted" href="#">
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="#">
          Processi
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          Regole
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          Verifica Ordine
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          Prodotti Vendibili
        </a>
      </li>
    </ul>
  </div>
</nav>
