<div class="card" id="accordionRequest">
  <div class="card-header">
    <a class="card-link" data-toggle="collapse" href="#collapseClientRequest">Richiesta HTTP dal client</a>
    <div id="collapseClientRequest" class="collapse show" data-parent="#accordion">
      <div class="card-body">
      <textarea class="bg-light" [readonly]="true" readonly
                                            style="resize: none; width: 100%; height: 30vh; padding: 20px; font-size: 14px; font-family: monospace;">
    <?xml version="1.0" encoding="UTF-8" standalone="yes"?">
      <requestModel>
      <banca>{{process.bank}}</banca>
      <codiceProdotto>{{process.productCode}}</codiceProdotto>
      <numeroPolizza>{{process.policyNumber}}</numeroPolizza>
      <numeroPropComp>{{process.propCompNumber}}</numeroPropComp>
    </requestModel>
      </textarea>
      </div>
    </div>
  </div>
</div>
