<form>
  <div class="form-group">
    <label for="bank">Banca</label>
    <input type="text" class="form-control" id="bank" name="bank" placeholder="Inserire banca" #bank (change)="onInputChangeBank(bank.value)">
  </div>
  <div class="form-group">
    <label for="productCode">Codice prodotto</label>
    <input type="text" class="form-control" id="productCode" name="productCode" placeholder="Inserire codice prodotto" #productCode (change)="onInputChangeProductCode(productCode.value)">
  </div>
  <div class="form-group">
    <label for="policyNumber">Numero polizza</label>
    <input type="text" class="form-control" id="policyNumber" name="policyNumber" placeholder="Inserire numero polizza" #policyNumber (change)="onInputChangePolicyNumber(policyNumber.value)">
  </div>
  <div class="form-group">
    <label for="propCompNumber">Numero PropComp</label>
    <input type="text" class="form-control" id="propCompNumber" name="propCompNumber" placeholder="Inserire numero propcomp" #propCompNumber (change)="onInputChangePropCompNumber(propCompNumber.value)">
  </div>
  <button type="button" class="btn btn-primary" (click)="onFormSubmitEvent()">
    Invia</button>
</form>
